<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#DBEAFE" />
  <meta name="description"
    content="The Restaurant Information App that can help you to find the best Restaurant information and find the location correctly." />

  <title>HungryFood - Restaurants App</title>

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet"
    type="text/css" />

  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
  <link rel="manifest" href="/app.webmanifest">
</head>

<body>
  <a href="#" class="skip-link">Skip to content</a>
  <main id="maincontent" tabindex="0">
    <header class="relative">
      <nav class="navbar">
        <div class="navbar-container">
          <!-- Logo -->
          <a class="navbar-logo" href="/#/" title="Company Logo">
            <picture>
              <source media="(max-width: 800px)" data-srcset="./images/logo-small.webp" type="image/webp" />
              <img class="lazyload" data-src="./images/logo-large.webp" width="160" height="52"
                title="Company Logo Image" alt="Company Logo" />
            </picture>
          </a>
          <div class="navbar-right">
            <button type="button" class="side-menu">
              <span class="sr-only">Open main menu</span>
              <svg aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                  clip-rule="evenodd"></path>
              </svg>
            </button>
            <ul tabindex="0" class="menu-item">
              <li><a href="/#/" aria-current="page">Home</a></li>
              <li><a href="/#/favorite">Favorite</a></li>
              <li><a href="https://afif.dev">About Us</a></li>
            </ul>
          </div>
          <div class="navbar-item-container">
            <ul class="navbar-item-ul">
              <li>
                <a class="navbar-item-li" href="/#/" aria-current="page">Home</a>
              </li>
              <li>
                <a class="navbar-item-li" href="/#/favorite">Favorite</a>
              </li>
              <li>
                <a class="navbar-item-li" href="https://afif.dev">About Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div id="maincontainer" tabindex="0"></div>
  </main>
</body>

</html>